body {
	font-family: 'Roboto', sans-serif;
	background-color: #000;
	color: white
}
.navbar-brand img {
	width: 50px;
}
h1, h2 {
	font-family: 'Orbitron', sans-serif;
}
h1 {
	font-size: 135%;
}
h2 {
	font-size: 85%;
}
@media (min-width: 992px) {
	h1 {
		font-size: 510%;
		text-align:center;
		margin-left: 250px;
		margin-bottom: 0;
	}
	h2 {
		font-size: 315%;
		text-align:center;
		margin-left: 250px;
	}
}
#curtains {
	background: black url(../img/rideaux1.jpg) no-repeat top;
}
nav button {
	margin-top: 2.52rem;
}
#exampleAccordion img {
	width: 25px;
}
.wrapper {
	height: 80vh;
	margin-top: 7em;
	overflow: hidden;
}
.inner {
	overflow: auto;
    height: 95%;
}
.firstLetter li {
		list-style-type: none; 
}

.firstLetter li::first-letter{
	letter-spacing: 3px;
	font-family: 'Great Vibes', cursive;
	font-size: 150%;
}



/**** SPECTACLE ****/

.profile-card-5{
    margin-top:20px;
    background-color: rgba(0,0,0,0.63);
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(200,200,200,0.63);
}
.profile-card-5 h5{
    color:rgba(140,0,0,0.7);
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:rgba(140,0,0,0.7);
    border-color: white;
}

/**** Spectacle Show ****/


article{
    background-color: rgba(0,0,0,0.65);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
figure img{
    width: 100%;
    height: 100%;
}
.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment{
    padding: 5px;
}


/**** Contact ****/


.button {
  --offset: 10px;
  --border-size: 1px;
  display: block;
  position: relative;
  padding: 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  color: white;
  text-transform: uppercase;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background .8s ease;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
  content: '';
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}




/* Style all font awesome icons */
footer .fa {
	margin-top: 5px;
    padding: 7px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
footer .fa:hover {
    opacity: 0.7;
    background: white;  
}
footer .float-right {
	margin-right: 30px;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/*

	font-family: 'Orbitron', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
#curtains {
	background: black url(../img/rideaux1.jpg) no-repeat top;

}
#flash-notice {
	border: black 1px solid;
	padding: 5em;
	border-radius: 1em;
	position: absolute;
	top: 45%;
	left: 45%;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
hr {
	display: block;
	clear: both;
	height: 0;
	margin: 0 auto;
	padding: 0;
	font-family: arial;
	width: 85%;
	border-top: 3px solid white;
} 
.iChk {
	display: none;
}
.lChk {
	font-size: 1rem;
	color: #fff;
	display: inline-block;
	padding: 0 0 0 1em;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}
.iChk + .lChk::first-letter {
	font-family: 'Great Vibes', cursive;
}
.lChk:before {
	content: '';
	display: inline-block;
	background: black;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	border-radius: 80%;
	box-shadow: 0px 1px 0 0 rgba(0, 0, 0, .2);
	box-sizing: border-box;
	border: 10px solid #fff;
	transition: border .3s ease;
}
.iChk:checked + .lChk:before {
	border-color: #fff;
	border-width: 3px;
}
.iChk + .lChk {
	transition: color .7s ease;
}
.iChk:checked + .lChk {
	color: grey;
}


*/