body {
	background-color: black;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-family: 'Orbitron', sans-serif;
    font-weight: normal;
	color: white;
	font-size: 1.3rem;
	margin-bottom: 0;
	margin-top: .5rem;
	text-align: right;
}
@media all and (min-width: 361px) {
	h1 {
		font-size: 5rem;
		text-align: center;
	}
}
h2 {
	font-family: 'Orbitron', sans-serif;
	text-align: right;
	font-size: .8rem;
	color: white;
    
}
@media all and (min-width: 361px) {
	h2 {
		font-size: 3rem;
		text-align: center;
	}
}
hr {
	display: block;
	clear: both;
	height: 0;
	margin: 0 auto;
	padding: 0;
	font-family: arial;
	width: 85%;
	border-top: 3px solid white;
} 
#curtains h2 {
	margin-top: 0;
}
@media all (min-width: 360px){
	#curtains h2 {
		margin-top: 1.5rem;
	}
}
nav button {
	margin-top: 2.52rem;
}
.navbar-brand img {
	width: 50px;
}
@media all and (min-width: 361px){
	.navbar-brand img {
		width: 100px;
}
@media all and (min-width: 720px){
	.navbar-brand img {
		width: 150px;
	}
}
.navDisplayNone {
	display: none;
}
@media all and (min-width: 720px) {
	.navDisplayNone {
		display: inherit;
	}
	
}
#exampleAccordion img {
	width: 25px;
}
#curtains {
	background: black url(../img/rideaux1.jpg) no-repeat top;
}
.fa-fw {
    color: white;
}
#spectacleIndex .card {
	height: 420px;
}
.card {
	background-color: rgba(0, 0, 0, 0.4);

}
.card h6 {
	font-family: 'Julius Sans One', sans-serif;
}
.card a{
	color: white;
}
.card p, .card div {
	color: #6c757d;
}
#spectacleIndex .card p {
	height: 79px;
	overflow: hidden;
	text-overflow: ellipsis;
}
footer {
	background-color: black;
	color: white;
}

#flash-notice {
	border: black 1px solid;
	padding: 5em;
	border-radius: 1em;
	position: absolute;
	top: 45%;
	left: 45%;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
}

/* Style all font awesome icons */
footer .fa {
	margin-top: 5px;
    padding: 7px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

footer .fa:hover {
    opacity: 0.7;
    background: white;
    
}
footer .float-right {
	margin-right: 30px;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
.wrapper {
	margin-top: 2em;
	height: 82vh;
	width: 99%;
	position: relative;
   	overflow: inherit;
}
@media all and (min-width: 361px){
	.wrapper {
		width: 103%;
	   	overflow: hidden;
	}
}
@media all and (min-width: 720px){
	.wrapper {
		height: 70vh;
		margin-top: 0;
	}
}

.inner {
	width: 103%;
    overflow: auto;
    height: 100%;
}
@media all and (min-width: 361px){
	.inner {
	    padding-right: 70px;

	}	
}


/**** accueil ****/
#accueil {
	color: white;
}
#accueil h3 {
	margin-top: 1em;
	font-size: 1.6em;
}
#accueil ul li {
	list-style-type: none; 
}
#accueil ul li::first-letter {
	font-size: 1.8em;
	font-family: 'Great Vibes', cursive;

}

/**** spectacle Index ****/

#spectacleIndex .card-footer{
	padding-left: 0;
	padding-bottom: .25em;
}


/**** spectacle ****/

#SpectacleShow h2 {
	font-size: 150%;
}
#SpectacleShow h2::first-letter {
	text-transform: uppercase;
}
#SpectacleShow .btn {
	background-color: transparent;
	border-color: transparent;
}

/***  Contact  ***/
#contact h3 {
	font-size: 2rem;
}
.btn-dark {
	background-color: black;
}
label {
	color: white;
}
label::first-letter {
	font-family: 'Great Vibes', cursive;
	font-size: 1.8em;
}
.form-control {
  background: none;
  border: none;
  border-bottom: dashed 2px white;
  padding: .5em;
  transition: .3s ease;
  color: white;
}

.form-select {
  background: rgba(0, 0, 0, 0.4);
	border-bottom: none;
}

/***Contact partenaire***/

.iChk {
	display: none;
}

.lChk {
	font-size: 1rem;
	color: #fff;
	display: inline-block;
	/*padding: 0 0 0 1em;*/
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}
.iChk + .lChk::first-letter {
	font-family: 'Great Vibes', cursive;
}

.lChk:before {
	content: '';
	display: inline-block;
	background: black;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	border-radius: 80%;
	box-shadow: 0px 1px 0 0 rgba(0, 0, 0, .2);
	box-sizing: border-box;
	border: 10px solid #fff;
	transition: border .3s ease;
}

.iChk:checked + .lChk:before {
	border-color: #fff;
	border-width: 3px;
}
.iChk + .lChk {
	transition: color .7s ease;
}
.iChk:checked + .lChk {
	color: grey;
}

/**** Backoffice  ****/

.backOffice a {
	display: block;
	color: white;
	width: 100%;
	height: 100%;
}

.wrapperBack {
	height: 60vh;
}

.innerBack {
	width: 103%;
    overflow: auto;
    height: 100%;
}
/*@media all and (min-width: 361px){
	.innerBack {
	    padding-right: 0px;

	}	
}
*/

/***** Widget Weezevent  *****/

#widget_container  {
	background-color: rgba(0, 0, 0, 0.4)!important;
}
#resendWrapper {²
    background-color: red;
}