body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: white
}
.navbar-brand img {
  width: 50px;
}
@media (min-width: 992px){
  .navbar-brand img {
    width: 150px;
  }
}
.bg-black {
  background-color: #000;
}
h1, h2 {
  font-family: 'Orbitron', sans-serif;
}
h1 {
  font-size: 135%;
}
h2 {
  font-size: 85%;
}
@media (min-width: 992px) {
  h1 {
    font-size: 510%;
    text-align:center;
    margin-left: 250px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 315%;
    text-align:center;
    margin-left: 250px;
  }
}
p {
  margin-bottom: 0.65em;
}
#curtains {
  background: black url(../img/rideaux_3.png) no-repeat left top;
}
nav button {
  margin-top: 2.52rem;
}
#exampleAccordion img {
  width: 25px;
}
.wrapper {
  height: 75vh;
  margin-top: 7em;
  overflow: hidden;
}
@media (min-width: 992px) {
  .wrapper {
    margin-top: 10.5em;
  }
  .wrapper h4 {
    margin-top: 1em;
  }
}
.inner {
  overflow: auto;
    height: 95%;
}
@media (min-width: 992px) {
  .inner {
    width: 101.5%;
  }
  }
.firstLetter li {
    list-style-type: none; 
}

.firstLetter li::first-letter{
  letter-spacing: 3px;
  font-family: 'Great Vibes', cursive;
  font-size: 150%;
}

/**** SPECTACLE ****/
.card-text {
  min-height: 30px;
  white-space: nowrap; 
    overflow: hidden;
  text-overflow: ellipsis;
}
.profile-card-5{
    margin-top:20px;
    background-color: rgba(0,0,0,0.63);
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(200,200,200,0.63);
}
.profile-card-5 h5{
    color:rgba(140,0,0,0.7);
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:rgba(140,0,0,0.7);
    border-color: white;
}

/**** Spectacle Show ****/


article{
    background-color: rgba(0,0,0,0.65);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
figure img{
    width: 100%;
    height: 100%;
}
.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment{
    padding: 5px;
}


/**** Contact ****/
.btn-contact .col{
  margin-top: 2.5em;
}
@media (min-width: 992px) {
  .btn-contact {
    margin-top: 2em;
  }
}
@media (min-width: 992px) {
  .frm-col {
    margin-top: 1em;
  }
}

.btn-dark {
  background-color: black;
}
label {
  color: white;
}
label::first-letter {
  font-family: 'Great Vibes', cursive;
  font-size: 1.8em;
}
.form-control {
  background: none;
  border: none;
  border-bottom: dashed 2px white;
  padding: .5em;
  transition: .3s ease;
  color: white;
}

.form-select {
  background: rgba(0, 0, 0, 0.4);
  border-bottom: none;
}

/* Style all font awesome icons */
footer .fa {
  margin-top: 5px;
    padding: 7px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
footer .fa:hover {
    opacity: 0.7;
    background: white;  
}
footer .float-right {
  margin-right: 30px;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

#flash-notice {
  border: black 1px solid;
  padding: 1em;
  border-radius: 1em;
  position: absolute;
  top: 45%;
  color: white;
  font-size: 125%;
  background-color: rgba(0, 0, 0, 0.9);
  width: 90%;
  max-width: 460px;
}
#flash-notice::first-letter {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
}

.iChk {
  display: none;
}
.lChk {
  font-size: 1rem;
  color: #fff;
  display: inline-block;
  padding: 0 0 0 1em;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.iChk + .lChk::first-letter {
  font-family: 'Great Vibes', cursive;
}
.lChk:before {
  content: '';
  display: inline-block;
  background: black;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 80%;
  box-shadow: 0px 1px 0 0 rgba(0, 0, 0, .2);
  box-sizing: border-box;
  border: 10px solid #fff;
  transition: border .3s ease;
}
.iChk:checked + .lChk:before {
  border-color: #fff;
  border-width: 3px;
}
.iChk + .lChk {
  transition: color .7s ease;
}
.iChk:checked + .lChk {
  color: grey;
}


.buton{
  width: 90%;
    padding:15px 50px;
    /*margin:20px 40px;*/
    cursor:pointer;
    display:inline-block;
    color:#FFF;
    font-size:1em;
    border:1px solid #eee;
    background:#eee;
    border-radius:4px;
    line-height:2em;
    border:1px solid #aaa;
    text-decoration:none;

    -webkit-transition: all 0.3s linear;
     -khtml-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.darkred{
    background: rgb(169,3,41); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */
}

.buton:hover{
    text-decoration:none;
    color: white;
    -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.buton:active {
    -webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
     -khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
            box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    text-shadow:1px 1px 1px #eee;
}
.light {
    display: block;
    position: relative;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    padding: 1px 9px;
    top: -16px;
    left: -53px;
    height: 0px;
}
.buton:hover .light{

    padding:1px 5px;

    -webkit-animation-name: shine;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    -khtml-animation-name: shine;
    -khtml-animation-duration: 0.6s;
    -khtml-animation-timing-function: linear;
    -moz-animation-name: shine;
    -moz-animation-duration: 0.6s;
    -moz-animation-timing-function: linear;
    -o-animation-name: shine;
    -o-animation-duration: 0.6s;
    -o-animation-timing-function: linear;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    left:45px;
}

@-webkit-keyframes shine {
    0% { top: -15px; left: -48px; }
    10% { top: -5px; }
    20% { top: 5px; }
    30% { top: 15px; }
    40% { top: 25px; }
    50% { top: 35px; }
    60% { top: 25px; }
    70% { top: 15px; }
    80% { top: 5px; }
    90% { top: -5px; }
    100% { top:-15px; left:45px; -webkit-transform: rotate(-360deg); }
}

@-khtml-keyframes shine {
    0% { top: -15px; left: -48px; }
    10% { top: -5px; }
    20% { top: 5px; }
    30% { top: 15px; }
    40% { top: 25px; }
    50% { top: 35px; }
    60% { top: 25px; }
    70% { top: 15px; }
    80% { top: 5px; }
    90% { top: -5px; }
    100% { top:-15px; left:45px; -khtml-transform: rotate(-360deg); }
}

@-moz-keyframes shine {
    0% { top: -15px; left: -48px; }
    10% { top: -5px; }
    20% { top: 5px; }
    30% { top: 15px; }
    40% { top: 25px; }
    50% { top: 35px; }
    60% { top: 25px; }
    70% { top: 15px; }
    80% { top: 5px; }
    90% { top: -5px; }
    100% { top:-15px; left:45px; -moz-transform: rotate(-360deg); }
}

@-o-keyframes shine {
    0% { top: -15px; left: -48px; }
    10% { top: -5px; }
    20% { top: 5px; }
    30% { top: 15px; }
    40% { top: 25px; }
    50% { top: 35px; }
    60% { top: 25px; }
    70% { top: 15px; }
    80% { top: 5px; }
    90% { top: -5px; }
    100% { top:-15px; left:45px; -o-transform: rotate(-360deg); }
}

@-keyframes shine {
    0% { top: -15px; left: -48px; }
    10% { top: -5px; }
    20% { top: 5px; }
    30% { top: 15px; }
    40% { top: 25px; }
    50% { top: 35px; }
    60% { top: 25px; }
    70% { top: 15px; }
    80% { top: 5px; }
    90% { top: -5px; }
    100% { top:-15px; left:45px; transform: rotate(-360deg); }
}
/*
  font-family: 'Orbitron', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
#curtains {
  background: black url(../img/rideaux1.jpg) no-repeat top;
}
*/


/***** ADMIN *****/

.btn-dark-light {
  border: 1px solid white;
  background-color: rgba(0,0,0,0.8);
}