{% extends 'base.html.twig' %}

{% block title %}Contact Partenaire - Sur Vos Planches{% endblock %}

{% block body %}
    <div id="contact" class="mt-1">
    	<div  class="text-center text-white mb-1">
    		<h3 class="mt-1">Contactez nous</h3>
    		<span>Si vous êtes partenaire, ...</span>
    	</div>
	
    	<div class="formContact">
    	 	{{ include('contact_partenaire/_form.html.twig') }}
    	</div>

    </div>
{% endblock %}