{% extends 'base.html.twig' %}

{% block body %}
<div class="row text-center mt-5">
	<div class="col ">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title text-white">Pour les partenariat</h5>
		    <a href="{{ path('contact_partenaire_new') }}" class="btn btn-light text-dark">Nous contactez</a>
		  </div>
		</div>
	</div>
	<div class="col ">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title text-white">Pour les professionnels</h5>
		    <a href="{{ path('contact_pro_new') }}" class="btn btn-light text-dark">Nous contactez</a>
		  </div>
		</div>
	</div>
	<div class="col ">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title text-white">Pour le public</h5>
		    <a href="{{ path('contact_public_new') }}" class="btn btn-light text-dark">Nous contactez</a>
		  </div>
		</div>
	</div>
</div>

{% endblock %}