{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center">
	<ul>
	    <li>
	        <h3><a class="badge badge-pill badge-dark" href="{{ path('contact_partenaire_new') }}">Partenaire</a></h3>
	        <h3><a class="badge badge-pill badge-dark" href="{{ path('contact_pro_new') }}">Pro</a></h3>
	        <h3><a class="badge badge-pill badge-dark" href="{{ path('contact_public_new') }}">Public</a></h3>
	    </li>
	</ul>
</div>

{% endblock %}