{% extends 'base.html.twig' %}

{% block body %}
<div class="container text-center bm-3">
	<div class="pb-2 mt-2">
		<h3>Choisissez votre formulaire</h3>
	</div>
	<div class="row  btn-contact">
		<div class="col">
			<button class="button mx-auto">
				<a class="btn text-light" href="{{ path('contact_partenaire_new') }}">Partenaire</a>
				<div class="button__horizontal"></div>
				<div class="button__vertical"></div>
			</button>
		</div>
		<div class="col">
			<button class="button mx-auto">
				<a class="btn text-light" href="{{ path('contact_pro_new') }}">Professionnels</a>
				<div class="button__horizontal"></div>
				<div class="button__vertical"></div>
			</button>
		</div>
		<div class="col">
			<button class="button mx-auto">
				<a class="btn text-light" href="{{ path('contact_public_new') }}">Public</a>
				<div class="button__horizontal"></div>
				<div class="button__vertical"></div>
			</button>
		</div>
	</div>
</div>
{% endblock %}