{% extends 'base.html.twig' %}

{% block body %}
<div class="row text-center mt-5">
	<div class="col ">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title text-white">Partenaire</h5>
		    <a href="{{ path('contact_partenaire_new') }}" class="btn btn-secondary">Nous contactez</a>
		  </div>
		</div>
	</div>
	<div class="col ">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title text-white">Professionnel</h5>
		    <a href="{{ path('contact_pro_new') }}" class="btn btn-secondary">Nous contactez</a>
		  </div>
		</div>
	</div>
	<div class="col ">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title text-white">Public</h5>
		    <a href="{{ path('contact_public_new') }}" class="btn btn-secondary">Nous contactez</a>
		  </div>
		</div>
	</div>
</div>

{% endblock %}