{% extends 'base.html.twig' %}

{% block body %}
<div class="container text-center bm-3">
	<div class="pb-2 mt-2">
		<h3>Choisissez votre formulaire</h3>
	</div>
	<div class="row btn-contact">
		<div class="col"> <a class="buton darkred" href="{{ path('contact_partenaire_new') }}"><div class="light"></div>Partenaire</a></div>
		<div class="col"> <a class="buton darkred" href="{{ path('contact_pro_new') }}"><div class="light"></div>Professionnels</a></div>
		<div class="col"> <a class="buton darkred" href="{{ path('contact_public_new') }}"><div class="light"></div>Public</a></div>
	</div>

</div>
{% endblock %}