{% extends 'base.html.twig' %}

{% block title %}Edit ContactPro{% endblock %}

{% block body %}
    <h1>Edit ContactPro</h1>

    {{ include('contact_pro/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contact_pro_index') }}">back to list</a>

    {{ include('contact_pro/_delete_form.html.twig') }}
{% endblock %}