{% extends 'base.html.twig' %}

{% block title %}New ContactPro{% endblock %}

{% block body %}
    <h1>Create new ContactPro</h1>

    {{ include('contact_pro/_form.html.twig') }}

    <a href="{{ path('contact_pro_index') }}">back to list</a>
{% endblock %}