{% extends 'base.html.twig' %}

{% block title %}Contact professionnel - Sur Vos Planches{% endblock %}

{% block body %}
      <div id="contact" class="mt-5 ">
    	<div  class="text-center text-white">
    		<h3 class="mt-1">Contactez nous</h3>
    		<span>Si vous êtes un professionnel ...</span>
    	</div>
	
	<div class="formContact">
       {{ include('contact_pro/_form.html.twig') }}
	</div>

{% endblock %}