		   </div>
		</div>
    </div>
  </div>
<footer class="sticky-footer fixed-bottom">
    <div class="">
      <div class="text-center">
        <small>Copyright © <a href="htttps://www.bumbleweb.fr">BumbleWeb.fr</a></small>
        <div class="float-right"><a href="#" class="fa fa-facebook"></a></div>
      </div>

    </div>
</footer>