 <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ path('home') }}"><img src="/img/svp.min.png"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link">
            <img src="/img/icons/svg/art.svg">
            <span class="nav-link-text">Menu</span>
          </a>
        </li> -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Accueil">
          <a class="nav-link" href="/">
            <img src="/img/icons/svg/line.svg">
            <span class="nav-link-text">Accueil</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Programmation">
          <a class="nav-link" href="{{ path('spectacle_index') }}">
            <img src="/img/icons/svg/flyer.svg">
            <span class="nav-link-text">Programmation</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Content">
          <a class="nav-link" href="{{ path('contacts') }}">
            <img src="/img/icons/svg/email.svg">
            <span class="nav-link-text">Contact</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Ouvrir le menu">
          <a class="nav-link navDisplayNone" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
            <span class="nav-link-text">Masquer le menu</span>
          </a>
        </li> 
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Content">
          <a class="nav-link" href="{{ path('admin') }}">
            <img src="/img/icons/svg/backend.svg">
            <span class="nav-link-text">Gestion Admin</span>
          </a>
        </li>


        {% endif %}
      </ul>
    </div>
  </nav>
  <div id="curtains"  class="content-wrapper">
    <div class="container">
      <div class="text-center">
        <h1>SUR VOS PLANCHES</h1>
        <h2>Production et diffusion de spectacle</h2>
      </div>

<!-- /.container-fluid-->